.character {
    background-color: lightgoldenrodyellow;
    margin: 20px;
    width: 25px;
}

.right-char {
    background-color: green;
}

.wrong-char {
    background-color: darkred;
}

#character-input {
    width: 25px;
}
