doctype html
head
    title Node Hangman
    link(rel='stylesheet', href='css/main.css', type='text/css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css')
body
    div.container
        div.col-md-8.col-md-offset-2
            h2.text-center Hang yourself!
            div.row
                p Questions should be here
            div.row
                div.col-md-12.text-center
                    - for (var i = 0; i < wordLength; i++)
                        input.character(id="char-" + i autocomplete="off" maxlength="1" disabled="disabled")
            div.row
                span#check-message
            div.row
                div.col-md-4.col-md-offset-6.text-right
                    label(for="character-input") Input char
                div.col-md-2
                    input#character-input(autocomplete="off" maxlength="1")
        div.col-md-2
            a(href="/logout") Logout

script(src="/socket.io/socket.io.js")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="js/main.js")

// fuck jade for this shit
script.
    state = eval("[" + "!{state}" + "]");
